@use "../variables" as *;


.add-car-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(24, 61, 105, 0.5);
    z-index: 999;
  }
  
  .add-car-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 16px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    h3 {
        padding: 0px;
    }
  }
  
  .add-car-sheet-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    .drag-bar {
      display: flex;
      justify-content: center;
      margin-top: 8px;
  
      div {
        height: 6px;
        width: 40px;
        border-radius: 16px;
        background-color: #d1d5db;
      }
    }
  
    h3 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #14482F;
    }
  
    .brand-options {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .brand-option {
        padding: 12px 16px;
        border-radius: 8px;
        color: #14482F;
        font-weight: 500;
        cursor: pointer;
  
        &.selected {
          background-color: #cdf5d8;
          color: #17ba68;
        }
      }
    }
  
    .submit-button {
      border-radius: 16px;
      background-color: #14482F;
      padding: 12px 24px;
      text-align: center;
      color: #B5DD3A;
      font-weight: 600;
      font-size: 14px;
      border: none;
      margin: 0 auto 16px auto;
      display: block;
      width: fit-content;
      width: 100%;
  
      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
  
      &.active {
        cursor: pointer;
      }
    }
  }
  
  .brand-search {
    width: 100%;
    font-size: 16px;
    color: #14482F;
    background-color: transparent;
    &::placeholder {
        color: $border;
      }
  }
  
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 6px 16px;
      background-color: $divider;
      border-radius: 50px;
      border: 1px solid transparent;
      &::placeholder {
        color: $border;
      }
      &:focus {
        border: 1px solid $yellowMain;
      }
    }
  
    img {
      position: absolute;
      right: 16px;
      width: 16px;
      height: 16px;
      pointer-events: none;
    }
  }
  
  .brand-letter-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .brand-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .brand-letter {
    font-weight: 600;
    font-size: 14px;
    color: #14482F;
    display: flex;
    align-items: center;
    gap: 8px;
    hr {
        background-color: $divider;
    }
  }
  
  .brand-option {
    padding: 10px 12px;
    border-radius: 8px;
    color: #14482F;
    cursor: pointer;
    transition: all 0.2s ease;
   -webkit-tap-highlight-color: transparent;
  
    &.selected {
      color: $yellowMain;
    }
  }
  















  .add-car-sheet {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.add-car-sheet-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.brand-letter-group {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}