@use './variables' as *;

header {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-roboto-bold-blue;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}